[submodule "external/DFTpy"]
	path = external/DFTpy
	url = https://github.com/Quantum-MultiScale/DFTpy.git
[submodule "external/GPUMD"]
	path = external/GPUMD
	url = https://github.com/brucefan1983/GPUMD.git
[submodule "external/libxc"]
	path = external/libxc
	url = https://gitlab.com/libxc/libxc.git
[submodule "external/QEpy"]
	path = external/QEpy
	url = https://github.com/Quantum-MultiScale/QEpy.git
[submodule "external/qe"]
	path = external/qe
	url = https://gitlab.com/QEF/q-e.git
